<h1>Edit Contact Details</h1>

<%= form_for @contact, :url =>{:action => 'update', :id =>@contact} do |f| %>
    <p>First Name <br /> <%= f.text_field 'first_name' %></p>
    <p>Last Name <br /> <%= f.text_field 'last_name' %></p>
    <p>Phone <br /> <%= f.text_field 'phone' %></p>
    <p>Location <br /> <%= f.text_field 'location' %></p>
    <p><%= f.submit 'Save Changes' %></p>
<% end %>

<%= link_to "Back", {:action => 'list'} %>