<h1>Contacts List</h1>
<% if @contacts.blank? %>
    <p>No contacts found.</p>
<% else %>
    <table>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
        <% @contacts.each do |c| %>
            <tr>
                <td><%= c.first_name + ' ' + c.last_name %></td>
                <td><%= c.phone %></td>
                <td><%= c.location %></td>
                <td>
                    <%= link_to 'Edit', {:action => 'edit', :id => c.id } %>
                    <%= link_to 'Delete', {:action => 'delete', :id => c.id } %>
                </td>
            </tr>
        <% end %>
    </table>
<% end %>

<%= link_to "Add New Contact", {:action => 'new'} %>