<h1>New Article</h1>

<%= form_with scope: :contact, url: 'create' do |form| %>
    <p>
        <%= form.label :first_name %><br />
        <%= form.text_field :first_name %>
    </p>
    <p>
        <%= form.label :last_name %><br />
        <%= form.text_field :last_name %>
    </p>
    <p>
        <%= form.label :phone %><br />
        <%= form.text_field :phone %>
    </p>
    <p>
        <%= form.label :location %><br />
        <%= form.text_field :location %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>

<%= link_to "Back", {:action => 'list'} %>