// Place all the styles related to the Book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-size: small;
    font-color: #000;
    background-color: #fff;
 }
 
 a:link, a:active, a:visited {
    color: #CD0000;
 }
 
 input { 
    margin-bottom: 5px;
 }
 
 p { 
    line-height: 150%;
 }
 
 div#container {
    width: 760px;
    margin: 0 auto;
 }
 
 div#header {
    text-align: center;
    padding-bottom: 15px;
 }
 
 div#content {
    float: left;
    width: 450px;
    padding: 10px;
 }
 
 div#content h3 {
    margin-top: 15px;
 }
 
 ul#books {
    list-style-type: none;
 }
 
 ul#books li {
    line-height: 140%;
 }
 
 div#sidebar {
    width: 200px;
    margin-left: 480px;
 }
 
 ul#subjects {
    width: 700px;
    text-align: center;
    padding: 5px;
    background-color: #ececec;
    border: 1px solid #ccc;
    margin-bottom: 20px;
 }
 
 ul#subjects li {
    display: inline;
    padding-left: 5px;
 }