<h1>Edit Book Detail</h1>

<%= form_for @book, :url =>{:action => "update", :id =>@book} do |f| %>

    <p>Title: <%= f.text_field 'title' %></p>
    <p>Price: <%= f.text_field 'price' %></p>
    <p>Subject: <%= f.collection_select :subject_id, Subject.all, :id, :name %></p>
    <p>
        Description: <br />
        <%= f.text_area 'description' %>
    </p>
    <%= f.submit "Save changes" %>

<% end %>

<%= link_to 'Back', {:action => 'list' } %>