<% if @books.blank? %>
    <p>No books found</p>
<% else %>
    <p>These are the currently available books</p>

    <ul id="books">
        <% @books.each do |c| %>
            <li>
                <%= link_to c.title, {:action => 'show', :id => c.id} %>
                <strong><%= link_to 'Edit', {:action => 'edit', :id => c.id} %></strong>
                <strong><%= link_to 'Delete', {:action => 'delete', :id => c.id}, :data => {:confirm => "Are you sure you want to delete this item?"} %></strong>
            </li>
        <% end %>
    </ul>
<% end %>
<p><%= link_to "Add new book", {:action => 'new'} %></p>