<h1>Add new book</h1>

<%= form_tag :action => 'create' do %>
    <p>
        <label for="book_title">Title:</label>
        <%= text_field 'books', 'title' %>
    </p>
    <p>
        <label for="book_price">Price:</label>
        <%= text_field 'books', 'price' %>
    </p>
    <p>
        <label for="book_subject_id">Subject:</label>
        <%= collection_select(:books, :subject_id, @subjects, :id, :name, prompt: true) %>
    </p>
    <p>
        <label for="book_description">Description:</label>
        <%= text_area 'books', 'description' %>
    </p>
    <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', {:action => 'list'} %>